<section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Muffin's Portfolios</h1>
        <p class="lead text-muted">The majority of these portfolios are quotes from anime and random garbage.</p>
        <p>
          <%= link_to "Stuff about YLIA", portfolios_ylia_path, class:"btn btn-lg btn-secondary" %>
          <%= link_to "Stuff about FMAB", portfolios_fmab_path, class:"btn btn-lg btn-secondary" %>
        </p>
      </div>
    </section>