<br>
<br>
<br>
<br>
<br>
<h1>About the admin</h1>

<hr>

<div class='row'>
  <div class="col-md-4">
    <%= image_tag "mysweetboi.jpg", width: 260, alt: "Reason to live" %>
  </div>
  
  <div class="col-md-8">
    <p>One day someone woke up one morning and decided
    they wanted to persue computer coding as a career,
    so they are currently doing that. This is their
    first website.</p>
    
    <p> This person is a huge anime nerd and instead of 
    putting useful and good information. They are just gonna 
    put animes they watched here because...anime
    </p>
    
    <p> - Animes in order watched - </p>
    <p>
    Soul Eater,
    Black Butler,
    Ouran HighSchool Host Club,
    Osomatsu-san,
    Splash Free,
    Assassination Classroom,
    Mirai Nikki,
    Yuri on Ice,
    No.6,
    Fate/Zero,
    Your Lie In April,
    Full Metal Alchemist Brotherhood
    </p>
    
    <p> - Animes they attempted watching but then got bored - </p>
    <p>
      Blue Exorcist,
      Owari no Seraph,
      Kernavel
    </p>
    
    <p> - Some of the animes on my to watch list -</p>
    <p>
      Tokyo Ghoul,
      Parasyte,
      Aldanoah.zero,
      Erased,
      Corpse Party,
      Norgami,
      Snow White with the red hair,
      and etc
    </p>
  </div>
</div>
