 <div class="inner cover">
  <br>
  <br>
  <br>
  <br>
  <br>
   <h1 class="cover-heading">Welcome to the homepage!</h1>
   <p class="text">Have fun exploring this website. Be careful and wear your seatbelt.</p>
   <p class="lead">
     <%= link_to "Learn More", about_path, class:"btn btn-lg btn-secondary" %>
   </p>
 </div>
 
