 <div class="inner cover">
  <br>
  <br>
  <br>
  <br>
  <br>
   <h1 class="cover-heading">Cover your page.</h1>
   <p class="text">Cover is one-page template for building a simple and beautiful home page.
   Insert other irrevalent stuff</p>
   <p class="lead">
     <%= link_to "Learn More", about_path, class:"btn btn-lg btn-secondary" %>
   </p>
 </div>
 
