<h1>Howdy there <%= current_user.first_name%> welcome to the boring homepage</h1
<p>Find me in app/views/pages/home.html.erb</p>
<p>I don't even know anymore</p>

<h1>Blog Posts</h1>
<%= @posts.inspect %>
<h1>Skills</h1>
<%= @skills.inspect %>