<br>
<br>
<br>
<br>
<br>
<h1>Hey you! Ya you! You're special and let nobody else tell you otherwise ok?</h1>

<h3>-Quotes for your soul-</h3>

<p>Remember no matter how far down the road you go, you can always turn back</p>

<p> - </p>

<p>Life is like a piano, the black keys are sadness, and the white keys are joy. You can play beatiful songs with both keys</p>

<p> - </p>

<p>It doesn't matter who broke you down, all that matters is who made you smile again</p>

<p> - </p>

<p>The best feeling in the world is using the pronoun "we" since you know you're not alone when saying it</p>

<p> - </p>

<p>When given the choice to love or not to love. Always choose love because even with the heartbreak and sadness, those little happy memories are worth it</p>

<p> - </p>

<p>I'm a leaf on the wind, watch how I soar</p>

<p> - </p>



<h3>Go get some lunch you deserve it</h3>

<div class="col-md-6">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5107.
583890922215!2d-111.89726947014952!3d40.431274541198356!2m3!1f0!2f0!3f0!
3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752802fb4ed5ddf%3A0x6bf8e9576cdf22a
8!2sSubway!5e0!3m2!1sen!2sus!4v1501518046498" width="900" height="300" 
frameborder="20" style="border:20" allowfullscreen></iframe>
</div>s