
<h1>Hey you! Ya you! You're special and let nobody else tell you otherwise ok?</h1>

<p>-Quotes for your soul-</p>

<p>Remember no matter how far down the road you go, you can always turn back</p>

<p> - </p>

<p>Life is like a piano, the black keys are sadness, and the white keys are joy. You can play beatiful songs with both keys</p>

<p> - </p>

<p>It doesn't matter who broke you down, all that matter is who made you smile again</p>

<p> - </p>

<p>The best feeling in the world is using the pronoun "we" since you know you're not alone when saying it</p>

<p> - </p>

<p>When given the choice to love or not to love. Always choose love because even with the heartbreak and sadness, those little happy memories are worth it</p>
